:root {
  --light-text: black;
  --dark-text: rgb(207, 207, 207);
}
body {
  margin: 10px 20px 10px 20px;
  font-size: 15rem;
  line-height: 1.6;
}
h3 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--text);
}
code {
  border-radius: 4px;
  line-height: normal;
  font-size: 14rem;
}
input {
  background-color: var(--input-bg);
  color: var(--input-text);
  border: none;
  border-radius: 3px;
  padding: 3px;
  height: 21px;
  outline: none;
  width: 150px;
  padding-left: 5px;
}
input#builtin_search {
  margin-left: 20px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid var(--text) !important;
}
