:root {
  --light-text: black;
  --dark-text: rgb(216, 219, 226);
  --light-bg: white;
  --dark-bg: rgb(0, 0, 0);
}
.light {
  --bg: var(--light-bg);
  --text: var(--light-text);
  --key-filter: invert(0.2);
  --key-filter-pressed: invert(0.8);
  --ui-btn-filter: invert(0);
}
.dark {
  --bg: var(--dark-bg);
  --text: var(--dark-text);
  --key-filter: invert(0);
  --key-filter-pressed: invert(0.8);
  --ui-btn-filter: invert(1);
}
body {
  font-family: -apple-system, "Roboto", BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  font-size: 13rem;
  color: var(--text);
  background-color: var(--bg);
  padding: 0px;
  margin: 0px;
}
.header {
  font-size: 18rem;
}
table {
  border-collapse: collapse;
  width: 90%;
  table-layout: fixed;
}
#editing {
  border-radius: 5px;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
#frame_header {
  vertical-align: middle;
}
#button_header {
  width: 90%;
  padding: 3px;
  vertical-align: middle;
}
.frame_number {
  text-align: center;
  font-size: 17rem;
  vertical-align: bottom;
}
.key_icon {
  height: 20px;
  width: 20px;
  filter: var(--key-filter);
  vertical-align: bottom;
}
.key.active > .key_icon {
  filter: var(--key-filter-pressed);
}
.stick_icon {
  height: 25px;
  width: 20px;
}
.key {
  text-align: center;
  vertical-align: bottom;
}
.add_btn_img {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  filter: var(--ui-btn-filter);
}
.remove_btn_img {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  filter: var(--ui-btn-filter);
}
@keyframes btn_bg_fade_in {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(150, 150, 150, 0.397);
  }
}
@keyframes btn_bg_fade_out {
  from {
    background-color: rgba(150, 150, 150, 0.397);
  }
  to {
    background-color: transparent;
  }
}
.add_button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  vertical-align: bottom;
  outline: none;
}
.remove_button {
  width: 20px;
  background-color: transparent;
  height: 20px;
  border: none;
  padding-bottom: 19px;
  vertical-align: bottom;
  outline: none;
}
.row_btn.animate {
  animation-name: btn_bg_fade_out;
  animation-duration: 300ms;
  background-color: transparent;
}
.row_btn.animate:hover {
  animation-name: btn_bg_fade_in;
  animation-duration: 300ms;
  background-color: rgba(150, 150, 150, 0.397);
}
.row_btn_container {
  vertical-align: bottom;
  opacity: 0;
}
